# dependencies
node_modules/
**/node_modules/

# build outputs
dist/
**/dist/
build/
**/build/

# env files
.env
**/.env

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
logs/
*.log

# OS / editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# uploads (if you store locally)
server/uploads/
**/uploads/

# misc
*.pem
